
<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8" />
		<title>angular-page-turner</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<!-- angular-page-turner -->
		<link rel="stylesheet" href="styles/angular-page-turner.css" />
		<script src="scripts/angular-page-turner.js"></script>
		<!---->

		<!-- Example -->
		<link rel="stylesheet" href="example.css" />
		<script src="example.js"></script>
		<!---->

	</head>
	<body ng-app="ExampleApp" ng-controller="ExampleController as example">

		<h1>angular-page-turner</h1>
		<p>
			<a href="https://github.com/mugifly/angular-page-turner"target="_blank">https://github.com/mugifly/angular-page-turner</a>
		</p>

		<p>
			Page:
			{{example.pageId}} / {{example.numOfPages}}
		</p>

		<p>
			<button ng-click="example.addExamplePage()">Add page</button>
			<button ng-click="example.openRandomPage()">Open random</button>
			<button ng-click="example.openPrevPage()">Previous page</button>
			<button ng-click="example.openNextPage()">Next page</button>
		</p>

		<div class="page-turner" pt-on-page-changed="example.onPageChanged(pageId)">

			<div class="page">
				<h1>Cover page</h1>
			</div>

			<div class="page red-page">
				<h1>1st page</h1>
			</div>

			<div class="page red-page">
				<h1>2nd page</h1>
			</div>

			<div class="page green-page">
				<h1>3rd page</h1>
			</div>

			<div class="page green-page">
				<h1>4th page</h1>
			</div>

			<div class="page blue-page">
				<h1>5th page</h1>
			</div>

			<div class="page blue-page">
				<h1>6th page</h1>
			</div>

			<div class="page yellow-page">
				<h1>7th page</h1>
			</div>

			<div class="page yellow-page">
				<h1>8th page</h1>
			</div>

			<div class="page">
				<h1>9th page</h1>
			</div>

		</div>

	</body>
</html>
